<div fxLayoutAlign="center center" fxFlexFill class="main">
    <mat-card fxFlex="30">
        <mat-toolbar color="primary">
            <div fxLayoutAlign="center center" fxFlex>
                <span>Reactive Forms</span>
            </div>
        </mat-toolbar>
        <mat-card-content>
            <form [formGroup]="login">
                <mat-form-field class="full-width">
                    <mat-label>UserName</mat-label>
                    <input matInput formControlName="username" placeholder="username">
                    <mat-error *ngIf="login.controls.username.errors?.required && login.controls.username.touched"> Name
                        must be required</mat-error>
                    <mat-error *ngIf="login.controls.username.errors?.pattern"> Enter characters only</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" />
                    <mat-error *ngIf="login.controls.password.errors?.required">Enter password </mat-error>
                    <mat-error *ngIf="login.controls.password.errors?.pattern">incorrect password </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput formControlName="dateofbirth" [matDatepicker]="picker" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="login.controls.dateofbirth.errors?.required">required</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="Address"></textarea>
                    <mat-error *ngIf="login.controls.Address.errors?.required"> Enter Address</mat-error>
                </mat-form-field><br>
                <mat-form-field class="full-width">
                    <mat-label>Select an field</mat-label>
                    <mat-select [(value)]="selected" formControlName="Selectanfield">
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                    <mat-error *ngIf="login.controls.Selectanfield.errors?.required"> This field is required</mat-error>
                </mat-form-field>
                <!-- <button mat-raised-button (click)="open('0ms', '0ms')">Open dialog</button><br><br> -->
                <mat-label>Gender:</mat-label>&NonBreakingSpace;
                <mat-radio-group formControlName="gender" class="full-width">
                    <mat-radio-button value="male">Male</mat-radio-button>&NonBreakingSpace;
                    <mat-radio-button value="female">Female</mat-radio-button>&NonBreakingSpace;
                </mat-radio-group><br>
                <mat-error *ngIf="login.controls.gender.errors?.required && login.controls.gender.touched"> This field
                    is required</mat-error>
                <!-- <hr> -->
                <!-- <button mat-button [disabled]="login.invalid" (click)="submit(login.value)" color="primary">submit</button> -->
                <button mat-raised-button (click)="addData(login.value)"    class="demo-button"> Submit</button>
                <button mat-raised-button (click)="savechanges()" class="demo-button"> savechanges</button>

            </form>
        </mat-card-content>
    </mat-card>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>UserName</th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>

    </ng-container>

    <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef>Password</th>
        <td mat-cell *matCellDef="let element"> {{element.password}} </td>
    </ng-container>

    <ng-container matColumnDef="dateofbirth">
        <th mat-header-cell *matHeaderCellDef> DateofBirth </th>
        <td mat-cell *matCellDef="let element"> {{element.dateofbirth}} </td>
    </ng-container>

    <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="Selectanfield">
        <th mat-header-cell *matHeaderCellDef> Selectanfield </th>
        <td mat-cell *matCellDef="let element">{{element.Selectanfield}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td *matCellDef="let element"> {{element.edit}}
            <button mat-icon-button matTooltip="Click to edit" class="iconbutton" (click)="edit(element)" color="primary">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>

    <!-- <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
        <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Delete" class="iconbutton"
            (click)="delete(element.id)" color="warn">
            <mat-icon>delete</mat-icon>
          </button> </mat-cell>
      </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>







<!-- <table>
    <tr>
        <th>UserName</th>
        <th>Password</th>
        <th> DateofBirth </th>
        <th> Address </th>
        <th> Gender </th>
        <th> Selectanfield </th>
    </tr>
    <tr *ngFor="let element of dataSource">
        <td mat-cell> {{element.username}} </td>
        <td mat-cell> {{element.password}} </td>
        <td mat-cell> {{element.dateofbirth}} </td>
        <td mat-cell> {{element.Address}} </td>
        <td mat-cell> {{element.gender}} </td>
        <td mat-cell> {{element.Selectanfield}} </td>
        <button (click)="edit(element)">edit</button>
        <button (click)="delete(element.username)">delete</button>

    </tr>
</table> -->


























<!-- <mat-form-field class="full-width">
    <mat-label>LastName</mat-label>
    <input type="text" matInput formControlName="lastname" placeholder="LastName">
    <mat-error *ngIf="login.controls.lastname.errors?.required && login.controls.lastname.touched"> Name must be
        required</mat-error>
    <mat-error *ngIf="login.controls.lastname.errors?.pattern"> Enter characters only</mat-error>
</mat-form-field>
<mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" placeholder="Email">
    <mat-error *ngIf=" login.controls.email.errors?.required ">Email is required</mat-error>
    <mat-error *ngIf="login.controls.email.errors?.pattern">Please enter a valid email address</mat-error>
</mat-form-field>
<mat-form-field class="full-width">
    <mat-label>MobileNumber</mat-label>
    <input matInput formControlName="mobilenumber">
    <mat-error *ngIf="login.controls.mobilenumber.errors?.required">Enter mobile number </mat-error>
    <mat-error *ngIf="login.controls.mobilenumber.errors?.pattern">Enter 10 digits MobileNumber </mat-error>
</mat-form-field>
<mat-form-field class="full-width">
    <mat-label>Confirmpassword</mat-label>
    <input type="password" matInput formControlName="confirmpassword">
    <mat-error *ngIf="login.controls.confirmpassword.errors?.required">Enter password </mat-error>
    <mat-error *ngIf="login.controls.confirmpassword.errors?.pattern">Enter valid password </mat-error>
</mat-form-field> -->