<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>UserName</th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>

    </ng-container>

    <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef>Password</th>
        <td mat-cell *matCellDef="let element"> {{element.password}} </td>
    </ng-container>

    <ng-container matColumnDef="dateofbirth">
        <th mat-header-cell *matHeaderCellDef> DateofBirth </th>
        <td mat-cell *matCellDef="let element"> {{element.dateofbirth}} </td>
    </ng-container>

    <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="Selectanfield">
        <th mat-header-cell *matHeaderCellDef> Selectanfield </th>
        <td mat-cell *matCellDef="let element">{{element.Selectanfield}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td *matCellDef="let element"> {{element.edit}}
            <button mat-icon-button matTooltip="Click to edit" class="iconbutton" (click)="edit(element)"  color="primary" routerLink="/patch">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>
    <!-- <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
        <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Delete" class="iconbutton"
            (click)="delete(element.id)" color="warn">
            <mat-icon>delete</mat-icon>
          </button> </mat-cell>
      </ng-container> -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<!-- 
  <table>
    <tr>
        <th>Name</th>
    </tr>
    <tr *ngFor="let data of userdata">
        <td>{{data.username}}</td>
    </tr>
  </table> -->