<!-- <p>logins works!</p> -->
<!-- <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <span>List1</span><br>
        <button routerLink="/login">List2</button><br>
        <a routerLink="\login">List3</a>
    </mat-drawer>
    <mat-drawer-content>
     
    </mat-drawer-content>
</mat-drawer-container> -->



<!-- <div [formGroup]="Form">
  <div formArrayName="items" *ngFor="let item of Form.get('items').controls; let i = index;">
    <div [formGroupName]="i">
      <input formControlName="name" placeholder=" name">
      <input formControlName="password" placeholder=" password">
    </div>
  </div>
</div>
<button (click)="addItem()">Add</button> -->


<!-- <form [formGroup]="form">
  <input type="checkbox" formControlName="published"> Published
    <div *ngIf="form.controls.published.value">

  <h2>Form</h2>
  <button (click)="addCreds()">Add</button>

  <div formArrayName="Form" *ngFor="let creds of form.controls.Form?.value; let i = index">
    <ng-container [formGroupName]="i">
      <input placeholder="Username" formControlName="username">
      <input placeholder="Password" formControlName="password">
    </ng-container>
  </div>
  </div>
</form> -->
<!-- <mat-table #table [dataSource]="dataSource">

  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element">  </mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
    <mat-cell *matCellDef="let element">  </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
    <mat-cell *matCellDef="let element">  <mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let element">  </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table> -->