/* .example-container {
    width: 1000px;
    height: 100px;
    margin: 10px;
    border: 1px solid #555;
  } */
  .demo-table {
    width: 1000%;
  }
  
  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }